<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
    <script type="text/javascript">
        let url = 'http://127.0.0.1:8000/users/cross_domain_test/';
        axios.get(url)
            .then(function (response) {
                alert(response.data.message)
            })
            .catch(function (error) {
                alert(error.response.data.message)
            })

        axios.post(url)
            .then(function (response) {
                alert(response.data.message)
            })
            .catch(function (error) {
                alert(error.response.data.message)
            })
    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello World!!!
</body>
</html>